
{% load static %}


    <!-- link that opens popup -->
    <!-- JS here -->
    <script src="{% static 'connection/js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <script src="{% static 'connection/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'connection/js/popper.min.js' %}"></script>
    <script src="{% static 'connection/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'connection/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'connection/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'connection/js/ajax-form.js' %}"></script>
    <script src="{% static 'connection/js/waypoints.min.js' %}"></script>
    <script src="{% static 'connection/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'connection/js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'connection/js/scrollIt.js' %}"></script>
    <script src="{% static 'connection/js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'connection/js/wow.min.js' %}"></script>
    <script src="{% static 'connection/js/nice-select.min.js' %}"></script>
    <script src="{% static 'connection/js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static 'connection/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'connection/js/plugins.js' %}"></script>
    <script src="{% static 'connection/js/gijgo.min.js' %}"></script>
    <script src="{% static 'connection/js/slick.min.js' %}"></script>


    <!--contact js-->
    <script src="{% static 'connection/js/contact.js' %}"></script>
    <script src="{% static 'connection/js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'connection/js/jquery.form.js' %}"></script>
    <script src="{% static 'connection/js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'connection/js/mail-script.js' %}"></script>


    <script src="{% static 'connection/js/main.js' %}"></script>
</body>

</html>