{% load static %}

<!doctype html>
<html class="no-js" lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Eqla - Schools</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'connection/img/site/logo_eqla.png' %}">
    <!-- Place favicon.ico in the root directory -->
    
    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'connection/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'connection/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'connection/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'connection/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'connection/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'connection/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'connection/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'connection/css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'connection/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'connection/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'connection/css/slicknav.css' %}">

    <link rel="stylesheet" href="{% static 'connection/css/style.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'connection/css/responsive.css' %} "> -->
</head>