<aside class="col-lg-2 col-md-2 border-right">
    <div class="single_service wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay=".5s">

        <div class="d-none d-lg-block">
            <a class="boxed-btn m-1 font-weight-bold bg-dark" href="{% url 'ghc:personne' %}"  role="button">personne</a><br>

            <a class="boxed-btn m-1 font-weight-bold bg-dark" href="" role="button">Personnel</a><br>
            <a class="boxed-btn m-1 font-weight-bold bg-dark" href="" role="button">Cadre</a><br>
            <a class="boxed-btn m-1 font-weight-bold bg-dark" href="" role="button">Professeur</a><br>
            <a class="boxed-btn m-1 font-weight-bold bg-dark" href="" role="button">Etudiant</a><br>
            <a class="boxed-btn m-1 font-weight-bold bg-dark" href="" role="button">Matiere</a><br>
            <a class="boxed-btn m-1 font-weight-bold bg-dark" href="" role="button">Horaire</a><br>
        </div>
    </div>
</aside>
