
{% load static %}

{% include 'connection/head.html' %}
<body>

    <!-- header-start -->

    
{% include 'connection/header.html' %}

    <!-- header-end -->

    <!-- slider_area_start -->
    <div class="slider_area m-0">
        <div class="single_slider  d-flex align-items-center slider_bg_1 my-0">
            <div class="container my-0">
                <div class="row  my-0 position-relative" style="top:25px;  height: 500px; overflow-y: scroll;">           
                    {% block mainContent %} 
        
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    <!-- slider_area_end -->


    <!-- footer start -->
    <footer class="footer mt-0 pt-0 bg-dark " role="contentinfo">
        <div class="footer_top mt-0 pt-0 "></div>
            <div class="container mt-0 pt-0"> 
                <div class="row mt-0 pt-0">
                    <div class="col-xl-4 col-md-6 col-lg-3 mt-0 pt-0">
                        <div class="container footer_widget wow fadeInUp mt-0 pt-0" data-wow-duration="1s" data-wow-delay=".3s">
                            
                            <div class="social_links mt-0">
                                <ul class="mt-0 pt-0">
                                    <li class="mt-0 pt-0">
                                        <a href="https://www.linkedin.com/company/eqlaasbl/" target="_blank" title="Linkedin" >
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://icons.getbootstrap.com/icons/facebook/" target="_blank" title="facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/accounts/login/" target="_blank" title="twitter">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="info@eqla.be" target="_blank" title="infos">
                                            <i class="fa fa-info"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text wow fadeInUp" data-wow-duration="1.4s" data-wow-delay=".3s">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center">
                            
                            Avec Eqla - <span lang="en" >Schools</span>  <br>
                            <span class="font-italic" >
                                Coder n'a jamais été aussi fun!!!
                            </span>  

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--/ footer end  -->

    <!-- link that opens popup -->
    <!-- JS here -->


    {% include 'connection/afterfooter.html' %}



