<!doctype html>
<html class="no-js" lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Eqla - <span lang="en">Schools</span></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/gijgo.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/slicknav.css">

    <link rel="stylesheet" href="css/style.css">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>

    <!-- header-start -->
    <header role="banner">
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid ">
                    <div class="header_bottom_border">
                        <div class="row align-items-center">
                            <div class="col-xl-3 col-lg-2">
                                <div class="logo">
                                    <a href="index.html">
                                        <img src="img/site/logo_eqla.png" width="100" alt="logo" role="logo">
                                        <br>
                                        <p>Eqla - <span lang="en" >Schools</span></p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-7">
                                <div class="main-menu  d-none d-lg-block">
                                    <nav role="navigation" >
                                        <ul id="navigation">
                                            <li><a href="index.html">Accueil</a></li>
                                            <li><a href="connexion.html">Connexion</a></li>
                                            <li><a href="horaires.html"  >horaire</a></li>
                                            <li><a href="admin.html"  >Admin</a></li>
                                            <li><a href="#" >MySpace</a></li>
                                            <li><a href="deconnexion.html">Deconnexion</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                                <div class="Appointment">
                                    <div class="phone_num d-none d-xl-block">
                                        <a href="#"> <i class="fa fa-phone"></i> 02/241 65 68</a>
                                    </div>
                                    <div class="d-none d-lg-block">
                                        <span class='sr-only' >téléphone</span>
                                        <a class="boxed-btn4" href="#">mon Profil</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    <!-- slider_area_start -->
    <div class="slider_area m-0">
        <div class="single_slider  d-flex align-items-center slider_bg_1 mb-0">
            <div class="container mb-0">
                <div class="row align-items-center justify-content-center mb-0">
                    <div class="col-lg-7 col-md-6">
                        <div class="slider_text">
                            <h3 class="wow fadeInRight text-warning" data-wow-duration="1s" data-wow-delay=".1s" role="note" >La programmation par tous et pour tous </h3>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6 mb-0">
                        <div class="payment_form warning-bg wow fadeInDown" data-wow-duration="1.2s" data-wow-delay=".2s">
                            <div class="form">
                                <span class="border border-warning" style="max-height: 10px;" >
                                    <div class="col-lg-8">
                                        <form class="form-contact contact_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
                                          <div class="row">
                                            <div class="col-sm-12">
                                              <div class="form-group">
                                                <label for="email">Adresse Email : </label>
                                                <input class="form-control" name="email" id="email" type="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Entrer votre E-mail'" placeholder = 'Entrer votre E-mail'>
                                              </div>
                                            </div>
                                            <div class="col-sm-12">
                                              <div class="form-group">
                                                <label for="mdp">Mot de passe : </label>
                                                <input class="form-control" name="mdp" id="mdp" type="password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Entrer votre mot de passe '" placeholder = 'Entrer votre mot de passe'>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="form-group mt-3">
                                            <button type="submit" class="button button-contactForm btn_4 boxed-btn4">Valider</button>
                                          </div>
                                        </form>
                                      </div>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider_area_end -->


    <!-- footer start -->
    <footer class="footer mt-0 pt-0" role="contentinfo">
        <div class="footer_top mt-0 pt-0 "></div>
            <div class="container mt-0 pt-0"> 
                <div class="row mt-0 pt-0">
                    <div class="col-xl-4 col-md-6 col-lg-3 mt-0 pt-0">
                        <div class="container footer_widget wow fadeInUp mt-0 pt-0" data-wow-duration="1s" data-wow-delay=".3s">
                            
                            <div class="social_links mt-0">
                                <ul class="mt-0 pt-0">
                                    <li class="mt-0 pt-0">
                                        <a href="https://www.linkedin.com/company/eqlaasbl/" target="_blank" title="Linkedin" >
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://icons.getbootstrap.com/icons/facebook/" target="_blank" title="facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/accounts/login/" target="_blank" title="twitter">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="info@eqla.be" target="_blank" title="infos">
                                            <i class="fa fa-info"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text wow fadeInUp" data-wow-duration="1.4s" data-wow-delay=".3s">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center">
                            
                            Avec Eqla - <span lang="en" >Schools</span>  <br>
                            <span class="font-italic" >
                                Coder n'a jamais été aussi fun
                            </span>  

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--/ footer end  -->

    <!-- link that opens popup -->
    <!-- JS here -->
    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/ajax-form.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/scrollIt.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/nice-select.min.js"></script>
    <script src="js/jquery.slicknav.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/gijgo.min.js"></script>
    <script src="js/slick.min.js"></script>



    <!--contact js-->
    <script src="js/contact.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.form.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/mail-script.js"></script>


    <script src="js/main.js"></script>
</body>

</html>