<main class="col border " role="main" >

    <div class="single_service wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
        <h2 class="text-center text-white font-weight-bold" >PROFESSEUR: Modifier</h2>
        <hr>
        <div class="form mb-3">
            <div class="col-lg-8">
                <form method="post" class="form" action="{% url 'ghc:professeurupdate' item.id %} ">
                        {% csrf_token %}
                        
                        <div class="form-group" >
                                <label for="nom" class="text-white font-weight-bold" >nom</label>
                                <input type="text" id="nom"  name="nom" class="form-control" aria-placeholder="nom" value="{{ item.nom }}" required  >
                        </div>
                        <div class="form-group" >
                                <label for="prenom" class="text-white font-weight-bold" >Prenom</label>
                                <input type="text" id="prenom"  name="prenom" class="form-control" aria-placeholder="prenom" value="{{ item.prenom }}"  >
                        </div>
                        <div class="form-group" >
                                <label for="email" class="text-white font-weight-bold" >email :</label>
                                <input type="email" id="version_redhat"  name="email" class="form-control" aria-placeholder="email" value="{{ item.email }}" required  >
                        </div>
                        <div class="form-group" >
                                <label for="classe" class="text-white font-weight-bold" >classe</label>
                                <input type="text" id="classe"  name="classe" class="form-control" aria-placeholder="classe" value=""  >
                        </div>
                        <div class="form-group" >
                                <label for="mdp" class="text-white font-weight-bold" >mot de passe</label>
                                <input type="password" id="mdp"  name="mdp" class="form-control" aria-placeholder="mot de passe"  value="{{ item.mdp }}" required >
                        </div>
                          

                          <div class="form-group">
                                  <button type="submit" class="btn btn-warning mb-4" >Mettre à jour</button>
                          </div>
                </form>
            </div>
        </div>
    </div>
</main>

